
:root {
--background: #042a2bff;
--primary: #5eb1bfff;
--secondary: #cdedf6ff;
--accent-inner: #ef7b45ff;
--accent: #d84727ff;
--pastel-green: #20bf55ff;
--sapphire: #0b4f6cff;
--process: #01baefff;
--white: #fbfbffff;
--silver: #757575ff;
}

body {
    background-color: var(--background);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#activities {
    display: flex;
    flex-direction: column;
    width: max-content;
    width: 90%;
    margin: auto;
}
#activitiesList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding-inline-start: 0px;
}
li {
    display: flex;
    list-style-type: none;
    border: solid 2px var(--accent);
    padding: 10px;
    margin: 10px;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: auto;
    font-size: xxx-large;
    
}
#addedActivity {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

#addedActivity > button {
    margin-left: 4.5%;
}
#newActivity {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    background-color: var(--accent);
    border-radius: 10px;
    height: max-content;
    font-size: xx-large;
    padding: 10px;
    margin: auto;
}
#pie {
    display: flex;
    flex-direction: row;
    width:90%;
    height:auto;
    align-content: space-around;
    justify-content: space-around;
    margin: auto;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: space-between;
    margin: 10px;
    
}
.activityData {
    width: auto;
    height: 50px;
    padding: 10px;
    text-align: right;
    align-content: right;
    justify-content:right;    
    border-right: var(--secondary) 2px solid; 
    margin: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

input {
    background-color: var(--accent);
    border-color: var(--accent-inner);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: xx-large;
}
.targetInput {
    width: 50px;
    height: 40px;
    background-color: #00000077;
    color:var(--accent-inner);
    font-size: smaller;
    margin: 2px;
    padding: 0px;
    float: left;
}
select {
    width: 100%;
    height: max-content;
    background-color: #00000000;
    border-style: none;
    border-bottom: solid 2px var(--accent-inner);
    color:var(--background);
    font-size: smaller;
    margin: 2px;
    padding: 0px;
}
button {
    background-color: var(--primary);
    color: var(--background);
    border-radius: 10px;
    margin: 10px;
    width: 90%;
    font-size: xx-large;
}
.smallDelete {
    width: 120px;
}

.activityButton:hover {
    background-color:#00000033;
}
button:hover {
    background-color:#00000033;
}
footer {
    margin: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--secondary);
    padding: 20px;
    font-size: small;
}
#timer {
    display: block;
    font-size: xx-large;
    width:90%;
    text-align: center;
    background-color:var(--secondary);
    color: var(--accent);
    border: var(--primary) solid 2px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.work{background-color:var(--silver);}
.excersize{background-color:var(--accent);}
.entertainment{background-color:var(--process);}
.service{background-color:var(--sapphire);}
.personal{background-color:var(--pastel-green);}
.travel{background-color:var(--white);}
div > .work{background-image: linear-gradient(to right,var(--silver),var(--background));}
div > .excersize{background-image: linear-gradient(to right,var(--accent),var(--background));}
div > .entertainment{background-image: linear-gradient(to right,var(--process),var(--background));}
div > .service{background-image: linear-gradient(to right,var(--sapphire),var(--background));}
div > .personal{background-image: linear-gradient(to right,var(--pastel-green),var(--background));}
div > .travel{background-image: linear-gradient(to right,var(--white),var(--background));}